@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #bbb;
    height: 500px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; 
    /* shorthand = flex-flow: propriedades para flex-direction e flex-wrap*/
    align-content: center;
    row-gap: 10px;
    column-gap: 30px; 
    /* shorthand = gap: (define valor para row-gap e column-gap;*/
}

div {
    height: 150px;
    width: 150px; 
    border-radius: 8px;
    padding: 5px;
    font: normal 2em monospace;
}

.bloco1 {
    background-color: darksalmon;
    order: 0; /* pode ser usado também valores negativos*/
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto; 
    align-self: flex-start;
    /* 
    shorthand = flex: (valores do flex-grow flex-shrink e flex-basis) exemplo... 
    flex: 0 1 auto;
    */
}

.bloco2 {
    background-color: lightskyblue;
    order: 0;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
}

.bloco3 {
    background-color: goldenrod;
    order: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: flex-end;
}

